body{
    background-color: rgb(255,241,204);
    width: 800px;

}

h1{
    font-style: italic
}
h2{
    font-style: italic
}
h3{
    font-style: italic
}
p{
    font-style: italic
}
figcaption{
    color: rgb(133,125,121);
}

figure{
    width: 600px;
    margin: auto;
}
img{
    width: 600px; 
}


